<!doctype html>
<html>

  <head>
    <title>{{name}}</title>
    <link href="static/styles.css"/>
  </head>

  <body>
    <header>
      <h1>{{name}}</h1>
    </header>
    <main>
      {% for course in courses %}
      <section class="course">
        <h2>{{course.name}} <i>({{course.id}})</i></h2>
          {% for table in course.tables %}
          <section class="table">
            <h3>{{table.name}}</h3>
              <ul>
                {% for note in table.notes %}
                <li><a href="{{table.prefix}}{{note.url}}">{{note.name}}</a></li>
                {% endfor %}
              </ul>
          </section>
          {% endfor %}
      </section>
      {% endfor %}
    </main>

  </body>

</html>