<!doctype html>
<html>

  <head>
    <title>{{name}}</title>
    <link href="static/styles.css" type="text/css" rel="stylesheet"/>
    <script type="application/javascript" src="static/lists.js"></script>
  </head>

  <body>
    <header>
      <h1>{{name}}</h1>
    </header>
    <main>
      {% for course in courses %}
      <section class="course">
        <h2><a target="_blank" href="{{course.url}}">{{course.name}} <i>({{course.id}})</i></a></h2>
          {% for table in course.tables %}
          <section class="table undrop">
            <h3>{{table.name}}<i onclick="drop(this);" class="fas fa-angle-down"></i></h3>
              <ul>
                {% for note in table.notes %}
                <li><a target="_blank" href="{{table.prefix}}{{note.url}}">{{note.name}}</a></li>
                {% endfor %}
              </ul>
          </section>
          {% endfor %}
      </section>
      {% endfor %}
    </main>

  </body>

</html>